body{
    background-color: burlywood;
}

#header{
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
}

#userinputs{
    display:flex;
    justify-content: space-evenly;
}

.userinput{
    padding:2rem;
}

.vcol{
    display: flex;
    flex-direction: column;
}

#compareinput{
    color: darkblue;
}

.startsection{
    background-color: ghostwhite;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 1rem 1.5rem;
    margin: 0.7rem 15%;
}

.addedline{
    background-color: lawngreen;
}

.removedline{
    background-color: crimson;
}

.timeline{
    background-color: khaki;
}
input{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}